<center><h1 class="mov-naranja">Reenviar instrucciones de - <strong>Confirmación</strong>?</h1></center>
<div class="container_session">
  <div class="session">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.input :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "full-width" %> <br> <br>
        <%= f.submit "Reenviar instrucciones de confirmación", class: "btn-primary" %><br>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
