<h1 class="text-center mov-naranja">LISTA DE <strong>PROGRAMAS</strong></h1>
<hr />
<div class="row">
  <%= form_tag(programas_path, class:"navbar-form-custom" , method: :get) do %>
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
    </div>
  <%end%>
</div><br>
<table class="table table-striped">
  <tr>
    <th class="active">NOMBRE</th>
  </tr>
  <%= render partial: "programas", collection: @programas, as: :programa %>
</table>
<hr />
<% if current_user.has_role? :Admin%>
  <!-- <%= link_to "Nuevo Programa", new_programa_path(@programa) , class:"btn-primary  full-width m-b"%>
  <%= link_to "Nuevo Programa", new_programa_path(@programa) , class:"btn-primary  full-width m-b"%> -->
  <div class="botonContainer">
    <div class="botonSeguimiento">
      <%= link_to "Nuevo Programa", new_programa_path(@programa), class: "botonSeguimientoColor"%>
    </div>
    <div class="botonSeguimiento">
      <%= link_to "Nuevo Programa", new_programa_path(@programa), class: "botonSeguimientoColor"%>
    </div>
  </div>
<%end%>
