<% breadcrumb :programas %>
<h1 class="text-center mov-naranja">LISTA DE <strong>PROGRAMAS</strong></h1>
<hr />
<div class="row">
  <%= form_tag(programas_path, class:"navbar-form-custom" , method: :get) do %>
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
    </div>
  <%end%>
</div><br>
<% unless @programas.present? %>
    <h2 class="text-center">No Hay Informacion Solicitada</h2
<%end%>
<div class="ibox-content m-b-sm border-bottom">
  <div class="table-responsive">
    <div class="informacion_general">
      <div class="container_box">
        <% @programas.each do |programa| %>
          <div class="box ">
              <div class="title">
                  <h3 class="title_box"><strong><%= programa.nombre %></strong></h3>
              </div>
              <div class="foot">
                  <h3 class="foot_box">Docentes</h3>
              </div>
              <div class="description">
                  <h1 class="description_box"><%= programa.users.includes(:roles).where('roles.name' => "Docente").count%></h1>
              </div>
              <div class="ver_mas">
                <a class="<%= is_active_controller('programas') %>">
                   <%= link_to programa_users_path(programa) do %>
                     <i class="ver_mas_box"></i> <span data-i18n="nav.layouts">Ver más</span>
                   <% end %>
                </a>
              </div>
          </div>
        <%end%>
     </div>
    </div>
  </div>
</div>
<% if current_user.has_role? :Admin%>
  <div class="botonContainer">
    <div class="botonSeguimiento">
      <%= link_to "Nuevo Programa", new_programa_path, remote: true, class: "botonSeguimientoColor"%>
    </div>
  </div>
<%end%>
<hr><%= paginate @programas, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination float-right" %>
<div id="new-programa"></div>
<div id="edit-programa"></div>
