<% breadcrumb :programas %>
<div class="jumbotron buscador-complemnto">
  <div class="row">
    <div class="col-10">
        <h2 class="titulo-Narajanja">Programas</h2>
    </div>
    <div class="col-2">
      <% if current_user.has_role? :Admin %>
        <div class="botonContainer">
          <%= link_to "", new_programa_path, remote:true , class: "fa fa-plus  btn btn-primary"%>
        </div>
      <%end%>
    </div>
  </div>
  <div class="search-form">
    <%= form_tag(programas_path, method: :get) do %>
      <div class="input-group">
        <input type="text" name="q" class="form-control Bucador input-lg" placeholder="Buscar..." type="text" value="<%= params[:q] %>"></input>
        <div class="input-group-btn">
          <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
        </div>
      </div>
    <%end%>
  </div>
</div>
<% unless @programas.present? %>
    <h2 class="text-center">No Hay Informacion Solicitada</h2>
<%end%>
<div class="row">
 <% @programas.each do |programa| %>
  <div class="col-md-4">
    <div class="box card text-white bg-secondary mb-3 h-100">
      <div class="category-container">
        <div class="card-body">
          <div class="description">
             <h1 class="card-title description_box"><%=programa.nombre%></h1>
          </div>
          <div class="foot">
             <h1 class="description_box text-center"><%= programa.users.includes(:roles).where('roles.name' => "Docente").count%></h1>
          </div>
          <div class="card-footer">
            <% if current_user.has_role? :Admin %>
              <div class="row">
                  <div class="col-4">
                    <div class="botonContainer">
                      <%= link_to edit_programa_path(programa), remote:true ,  class: "btn btn-warning" do %>
                        <%= fa_icon 'pencil-square-o' %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="botonContainer">
                      <%= link_to programa_users_path(programa), class: "btn btn-info" do %>
                        <%= fa_icon 'eye' %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="botonContainer">
                      <%= link_to programa_path(programa), method: :delete, data: {confirm: "¿Esta Seguro De Eliminar La Linea #{programa.nombre}?",
                                  mensaje: 'El Programa se borrara definitivamente'}, class: "btn btn-danger" do %>
                        <%= fa_icon 'trash' %>
                      <% end %>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
 <%end%>
</div><hr>
<div class="paginacion">
  <%= paginate @programas, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination float-right" %>
</div>
<%= paginate @programas, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination float-right" %>
<div id="new-programa"></div>
<div id="edit-programa"></div>
