<h1 class="text-center titulo-Narajanja">Universidad <strong>Autonoma del caribe</strong></h1>
<div class="container_session">
  <div class="session">
    <center><h2 class="titulo-Narajanja">Registrarse</h2></center>
    <%= simple_form_for(resource, as: resource_name, id: "signupForm" , url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <p>Debe iniciar sesi칩n o registrarse antes de continuar.<p>
        <%= f.label :Usuario, class: "form-control" %>
        <%= f.input :username, label: false ,id:"nombre", name:"nombre",placeholder:"Usuario" %>
        <%= f.label :Correo, class: "form-control" %>
        <%= f.input :email, label: false , placeholder:"Correo", id:"email", name:"email" %>
        <%= f.label :Programa, class: "form-control" %>
        <%= f.association :programa, label: false , collection: Programa.order(:nombre) ,label_method: :nombre, input_html: {class: "select2select", "data-placeholder": "Seleccione Programa"} %>
        <%= f.label :Contrase침a, class: "form-control" %>
        <%= f.input :password, label: false , placeholder:"Contrase침a" %>
        <%= f.label :Confirmar, class: "form-control" %>
        <%= f.input :password_confirmation, label: false , placeholder:"Confirme contrase침a" %>
        <%= f.button :submit, "Crear usuario", class: "btn-primary btn-block Veamos" %>
        <a class="btn btn-sm btn-white btn-block Veamos" href="<%=new_user_session_path%>">Iniciar Seccion</a>
    <% end %>
  </div>
</div>
