<% breadcrumb :cursos_usuarios %>
<br><div class="ibox-content m-b-sm border-bottom">
  <div class="row">
    <div class="col-md-10">
        <h2>Mis Cursos</h2>
    </div>
    <div class="col-md-2">
      <div class="input-group-btn">
        <div class="botonContainer">
            <%= link_to "", new_cursos_usuario_path, remote:true , class: "fa fa-plus  btn btn-primary"%>
          </div>
        </div>
      </div>
  </div>
  <div class="search-form">
    <%= form_tag(cursos_usuarios_path, method: :get) do %>
      <div class="input-group">
        <input type="text" name="q" class="form-control input-lg" placeholder="Buscar..." type="text" value="<%= params[:q] %>"></input>
        <div class="input-group-btn">
          <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
        </div>
      </div>
    <%end%>
  </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <tr>
        <th class="active">Nombre</th>
        <th class="active">Linea</th>
        <th class="text-center active">Acciones</th>
      </tr>
      <%= render partial: "cursos_usuarios", collection: @cursosUsuarios, as: :cursos_usuario %>
      <tr>
    </table>
    <% unless @cursosUsuarios.present? %>
       <tr>
          <h2 class="text-center">No Hay Informacion Solicitada</h2
       </tr>
    <%end%>
  </div>
</div><hr>
<%= paginate @cursosUsuarios, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination float-right" %>
<div id="new-curso"></div>
<div id="edit-curso"></div>
