<tr>
  <td><%= link_to comentario.id , comentario_path(comentario.id) %></td>
  <td><%=  comentario.titulo %></td>
  <td><%= comentario.descripccion %></td>
  <td><%= comentario.created_at.strftime("%d-%m-%Y %H:%M")  %></td>
  <td><%= comentario.updated_at.strftime("%d-%m-%Y %H:%M") %></td>
  <td>
    <%= link_to "", edit_comentario_path(comentario), remote:true , class: "fa fa-pencil-square-o  btn btn-warning"%>
    <%= link_to '', { :action => :destroy, :id => comentario.id }, :method => :delete, :data => { :confirm => 'Estás seguro? de Eliminar este Comentario'} , class: "fa fa-trash-o btn btn-danger"%>
  </td>
</tr>
