<tr>
  <td class="text-center"><%= link_to comentario.titulo, comentario_path(comentario.id) %></td>
  <td class="text-center"><%= comentario.descripccion %></td>
  <td class="text-center"><%= comentario.created_at.strftime("%d-%m-%Y %H:%M")  %></td>
  <td class="text-center"><%= comentario.updated_at.strftime("%d-%m-%Y %H:%M") %></td>
  <td class="text-center">
    <%= link_to "", edit_comentario_path(comentario), remote:true , class: "fa fa-pencil-square-o  btn btn-warning"%>
  </td>
</tr>
