<center><h1 class="mov-naranja">Reenviar instrucciones de <strong>Desbloqueo</strong></h1></center>
<div class="container_session">
    <div class="session">
      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post })  do |f| %>
        <%= alert %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.input :email, autofocus: true, autocomplete: "email" %>
        <%= f.button :submit, "Reenviar instrucciones de desbloqueo",  class: "btn-primary block full-width m-b" %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
</div>
