<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand titulo-Narajanja" href=" <%= root_path %> ">
    <span class="titulo-Narajanja"> AUTÓNOMA</span>
  </a>
  <button class="navbar-toggler NAV-btn-dark" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cursos</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Lineas", lineas_path, class: "dropdown-item" %>
          <%= link_to "Cursos", cursos_path , class: "dropdown-item" %>
          <% if current_user.has_role? :Docente %>
            <%= link_to "Mis Cursos", cursos_usuarios_path , class: "dropdown-item" %>
          <%end%>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comentarios</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Mis Comentarios", comentarios_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proyecciones</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Mis Proyecciones", proyecciones_path, class: "dropdown-item" %>
          <% if current_user.has_role? :Admin %>
            <%= link_to "Proyecciones", proyecciones_path, class: "dropdown-item" %>
          <%end%>
        </div>
      </li>
      <% if current_user.has_role? :Admin %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facultades</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Facultades", facultades_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programas</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Programas", programas_path, class: "dropdown-item" %>
          </div>
        </li>
      <%end%>
      <%= render "partials/usuarios-link" %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= "#{current_user.username}" %>  </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "#{current_user.username}", user_path, class: "dropdown-item" %>
          <% if current_user.has_role? :Admin %>
            <%= link_to "Administrador", root_path, class: "dropdown-item" %>
          <%end%>
          <%= link_to "Modificar Datos", edit_user_path, class: "dropdown-item" %>
          <%= link_to "Cambiar Contraseña", cambiar_password_user_path, class: "dropdown-item" %>
          <% if user_signed_in?  %>
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
          <%end%>
        </div>
      </li>
    </ul>
  </div>
</nav>
