<h1 class="text-center mov-naranja">LISTA DE <strong>LINEAS</strong></h1>
<hr />
<div class="row">
  <%= form_tag(lineas_path, class:"navbar-form-custom" , method: :get) do %>
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
    </div>
  <%end%>
</div><br>
<div class="usuario">
  <div class="informacion_general">
    <div class="card-header">
      <div class="box">
        <% @lineas.each do |linea| %>
          <%= link_to linea_path(linea.id) do %>
            <div class="full-width post">
              <% if linea.avatar.present? %>
                <%= image_tag linea.avatar.thumb.url%>
              <%else%>
                <p>Aqui va una foto defaul</p>
              <%end%>
              <div class="full-width post-info">
                <p class="full-width post-info-price nom_gru"><%=linea.nombre%></p>
              </div>
            <%end%>
          </div>
        <%end%>
       </div>
     </div>
   </div>
</div>
