<tr>
    <td><%= user.documento %></td>
    <td><%= link_to user.email , user_path(user.id)  %></td>
    <td><%= user.nombre %></td>
    <td><%= user.apellido %></td>
    <td><%= user.telefono %></td>
    <td><%= user.direccion %></td>
</tr>
