<tr>
    <td><%= link_to user.documento , user_path%></td>
    <td><%= user.email %></td>
    <td><%= user.nombre %></td>
    <td><%= user.apellido %></td>
    <td><%= user.telefono %></td>
    <td><%= user.direccion %></td>
    <% if current_user.has_role? :Admin %>
      <td><%= user.roles.collect(&:name).join(' , ').upcase %></td>
    <% end%>
</tr>
