<% breadcrumb :user_edit, @user %>
<div class="jumbotron my-3 buscador-complemnto">
  <%= simple_form_for current_user, url: user_path , class:"" do |f| %>
      <div class="row my-3">
        <div class="col-8">
          <h2 class="titulo-Narajanja">Editar Datos!</h2>
        </div>
        <div class="col-4">
          <%= f.button :submit, "Actualizar", class: "float-right  btn btn-primary btn-lg" %>
        </div>
      </div>
      <div class="row eso">
         <div class="col-md-6">
           <div class="form-group">
             <div class="row">
               <div class="col-md-5 text-center">
                 <% if current_user.perfil? %>
                      <%= image_tag current_user.perfil.url(:thumb), class: " text-center userperfil" , title: "Mi Perfil" %>
                   <%else%>
                      <%= image_tag 'nophoto' , class: " text-center imghome circlo"%>
                 <%end%>
               </div>
               <div class="col-md-7">
                 <%= f.input :perfil, class: "form-control" %>
               </div>
             </div>
           </div>
            <div class="form-group ">
                <%= f.input :nombre, class: "form-control" %>
                <%= f.input :apellido, class: "form-control" %>
                <%= f.input :documento, class: "form-control" %>
            </div>
         </div>
         <div class="col-md-6">
           <div class="form-group">
              <%= f.input :telefono, class: "form-control" %>
              <%= f.input :direccion, class: "form-control" %>
              <%= f.input :descripcion, :as => :text, :input_html => { 'rows' => 9, 'cols' => 80 } %>
            </div>
         </div>
      </div>
  <% end %>
</div>
