<h1 class="text-center mov-naranja"><strong><%=  @user.email %></strong></h1><hr />
<div class="usuario">
  <div class="informacion">
    <div class="container_picture">
         <div class="picture">
           <% if @user.perfil? %>
             <%= image_tag @user.perfil.url(:thumb) %>
             <%else%>
                <%= image_tag 'autonomacaribe' , class: "imghome"%>
            <%end%>
         </div>
    </div>
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Rol:</strong> <%= @user.roles.collect(&:name).join(' , ').upcase %></p>
         <p class="details_info"><strong>Correo:</strong> <%=  @user.email %></p>
         <p class="details_info"><strong>Nombre:</strong> <%=  @user.nombre %></p>
         <p class="details_info"><strong>Apellido:</strong> <%=  @user.apellido %></p>
         <p class="details_info"><strong>Telefono:</strong> <%=  @user.telefono %></p>
         <p class="details_info"><strong>Direccion:</strong> <%=  @user.direccion %></p>
         <p class="details_info"><strong>Descripcion:</strong> <%=  @user.descripcion %></p>
      </div>
    </div>
  </div>
</div>

<h2 class="subtitulo mov-naranja"><strong>Cursos Realizados</strong></h2>
<div class="row">
  <%= form_tag(cursos_usuarios_path, class:"navbar-form-custom" , method: :get) do %>
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
    </div>
  <%end%>
</div><br>
  <div class="usuario">
    <table class="table table-striped">
      <tr>
        <th class="active">Nombre</th>
        <th class="active">Linea</th>
      </tr>
      <tr>
        <% @user.cursosUsuario.each do |curso_usuario| %>
            <tr>
              <td><%= link_to curso_usuario.nombre , cursos_usuario_path(curso_usuario.id)%></td>
              <td><%= curso_usuario.linea.nombre%></td>
            </tr>
         <%end%>
    </table>
</div>
