<% breadcrumb :usuarios_show, @user %>
<% if @user.nombre.present? %>
    <h1 class="text-center titulo-Narajanja"><strong><%= @user.nombre %> <%= @user.apellido %></strong></h1><hr />
  <%else%>
  <h1 class="text-center titulo-Narajanja"><strong><%= @user.email %></strong></h1><hr />
<% end %>
<h2 class="subtitulo titulo-Narajanja"><strong>Informacion</strong></h2>
<div class="usuario">
  <div class="informacion">
    <div class="container_picture">
         <div class="picture">
           <% if @user.perfil? %>
             <%= image_tag @user.perfil.url(:thumb) %>
             <%else%>
                <%= image_tag 'autonomacaribe' , class: "imghome"%>
            <%end%>
         </div>
    </div>
    <div class="container_details">
      <div class="col-md-6">
        <div class="info">
           <p class="details_info"><strong>Rol:</strong> <%= @user.roles.collect(&:name).join(' , ').upcase %></p>
           <p class="details_info"><strong>Correo:</strong> <%=  @user.email %></p>
           <p class="details_info"><strong>Nombre:</strong> <%=  @user.nombre %></p>
           <p class="details_info"><strong>Apellido:</strong> <%=  @user.apellido %></p>
           <p class="details_info"><strong>Telefono:</strong> <%=  @user.telefono %></p>
           <p class="details_info"><strong>Direccion:</strong> <%=  @user.direccion %></p>
        </div>
      </div>
      <div class="col-m6">
        <% if @user.programa.present? %>
            <p class="details_info"><strong>Programa:</strong> <%= @user.programa.nombre %></p>
          <% else %>
          <p class="details_info"><strong>Programa:</strong>NULL</p>
        <% end %>
        <p class="details_info"><strong>Descripcion:</strong> <%=  @user.descripcion %></p>
      </div>
    </div>
  </div>
</div>
<% if current_user.has_role? :Decano %>
  <div class="salto">
    <%= render 'cursos' %>
  </div>
  <% elsif current_user.has_role? :Admin %>
  <div class="salto">
    <%= render 'cursos' %>
  </div>
<% end %>
<% if current_user.has_role? :Vicerrector %>
  <div class="salto">
    <%= render 'cursos' %>
  </div>
  <% elsif current_user.has_role? :Director %>
  <div class="salto">
    <%= render 'cursos' %>
  </div>
<% end %>
