<center><h1 class="mov-naranja">¿Olvidaste tu contraseña?</h1></center>
<div class="container_session">
    <div class="session">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.input :email, autofocus: true, autocomplete: "email" %>
        <%= f.button :submit, "Restablecer instrucciones de contraseña",  class: "btn-primary block full-width m-b" %>
        <!-- btn-outline-info -->
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
</div>
