<h1 class="text-center mov-naranja">CURSO<strong><%=  @proyeccion.nombre %></strong></h1><hr />
<div class="usuario">
  <div class="informacion">
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Nombre: </strong> <%=  @proyeccion.nombre %></p>
         <label for="">Descripccion</label>
         <textarea name="name" rows="5" cols="80"><%=  @proyeccion.descripcion %></textarea>
      </div>
      <% if current_user.has_role? :Admin%>
        <div class="botonContainer">
          <div class="botonSeguimiento">
            <%= link_to "Editar Proyeccion", edit_proyeccion_path(@proyeccion), class: "botonSeguimientoColor"%>
          </div>
          <div class="botonSeguimiento">
            <%= link_to 'Eliminar', { :action => :destroy, :id => @proyeccion.id }, :method => :delete, :data => { :confirm => 'Estás seguro? de Eliminar esta Proyeccion'} , class: "botonSeguimientoColor"%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
