<div class="container down">
  <!-- Modal HTML Markup -->
  <div id="myModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
        <div class="modal-body">
          <% if current_user.has_role? :Admin %>
            <%= simple_form_for @curso, html: { class: 'form-horizontal' } do |f| %>
              <%= f.input :nombre , autofocus: true, placeholder:"Nombre Del Curso" , autocomplete: "nombre", require:true %>
              <%= f.association :linea, collection: Linea.order(:nombre), label_method: :nombre, require:true, input_html: {class: "select2select", "data-placeholder": "Seleccione Linea"} %>
              <% if current_user.has_role? :Docente %>
                  <%= f.input :estado, as: :radio_buttons, require:true, collection: [['UAC',true],['EXTERNO', false]]%>
              <% end %>
              <%= f.button :submit, "Registrar Curso",  class: "btn-primary block full-width m-b" %>
            <% end %>
            <% else %>
              <%= simple_form_for @curso, html: { class: 'form-horizontal' } do |f| %>
                <%= f.input :nombre , autofocus: true, require:true, placeholder:"Nombre Del Curso" , autocomplete: "nombre" %>
                <%= f.association :linea, collection: Linea.order(:nombre), label_method: :nombre, require:true, input_html: {class: "select2select", "data-placeholder": "Seleccione Linea"} %>
                <% if current_user.has_role? :Docente %>
                    <%= f.input :estado, as: :radio_buttons, require:true, collection: [['UA',true],['EXTERNO', false]]%>
                <% end %>
                <%= f.button :submit, "Registrar Curso",  class: "btn-primary block full-width m-b" %>
              <% end %>
          <% end %>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
