<% breadcrumb :cursos %>
<h1 class="text-center mov-naranja">LISTA DE <strong>CURSOS</strong></h1>
<hr />
<div class="ibox-content m-b-sm border-bottom">
  <div class="row">
    <div class="col-md-10">
        <h2>Cursos</h2>
    </div>
    <div class="col-md-2">
      <div class="input-group-btn">
        <div class="botonContainer">
            <div class="botonSeguimiento">
              <%= link_to new_curso_path, remote:true, class:"btn btn-nar" do %>
                  <i class="fa fa-plus"></i>
              <%end%>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="search-form">
    <%= form_tag(cursos_path, method: :get) do %>
      <div class="input-group">
        <input type="text" name="q" class="form-control input-lg" placeholder="Buscar..." type="text" value="<%= params[:q] %>"></input>
        <div class="input-group-btn">
          <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
        </div>
      </div>
    <%end%>
  </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <tr>
        <th class="active">Linea</th>
        <th class="active">Nombre</th>
        <th class="active">Registrado</th>
        <th class="active">Modificado</th>
        <th class="active">Incribirse</th>
        <th class="active">Acciones</th>
      </tr>
      <%= render partial: "cursos", collection: @cursos, as: :curso %>
    </table>
    <% unless @cursos.present? %>
       <tr>
          <h2 class="text-center">No Hay Informacion Solicitada</h2
       </tr>
    <%end%>
  </div>
</div>
<%= paginate @cursos, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-sm" %>
<div id="new-curso"></div>
<div id="edit-curso"></div>
