<h1 class="text-center mov-naranja">AUTONOMA <strong>Proyect</strong></h1>
<h2 class="subtitulo mov-naranja"><strong>Informacion</strong></h2>
<div class="usuario">
  <div class="informacion">
    <div class="container_picture">
      <%= link_to edit_user_path do %>
         <div class="picture">
            <% if current_user.perfil.thumb.present?%>
              <%= image_tag current_user.perfil.thumb, alt: "Imagen de usuario"%>
            <%end%>
         </div>
      <%end%>
    </div>
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Nombre:</strong> <%= current_user.nombre %> <%= current_user.apellido%></p>
         <p class="details_info"><strong>Rol:</strong> <%= current_user.roles.collect(&:name).join(' , ').upcase %></p>
         <p class="details_info"><strong>Documento:</strong> <%=  current_user.documento%></p>
         <p class="details_info"><strong>Correo:</strong> <%=  current_user.email %></p>
         <p class="details_info"><strong>Teléfono:</strong> <%=  current_user.telefono %></p>
      </div>
    </div>
  </div>
  <div class="informacion_general">
    <div class="container_box">
       <div class="box">
          <div class="title">
            <h3 class="title_box"><strong>Facultades</strong></h3>
          </div>
          <div class="description">
            <h1 class="description_box"><%= Facultad.count %></h1>
          </div>
          <div class="foot">
            <h3 class="foot_box">Universidad Autonoma del caribe</h3>
          </div>
          <div class="ver_mas">
            <a class="<%= is_active_controller('facultades') %>">
               <%= link_to facultades_path do %>
                 <i class="ver_mas_box"></i> <span data-i18n="nav.layouts">Ver más</span>
               <% end %>
            </a>
          </div>
       </div>
       <div class="box">
          <div class="title">
              <h3 class="title_box"><strong>Cursos</strong></h3>
          </div>
          <div class="description">
              <h1 class="description_box"><%= Curso.count%></h1>
          </div>
          <div class="foot">
              <h3 class="foot_box">Universidad Autonoma del caribe</h3>
          </div>
          <div class="ver_mas">
            <a class="<%= is_active_controller('cursos') %>">
               <%= link_to cursos_path do %>
                 <i class="ver_mas_box"></i> <span data-i18n="nav.layouts">Ver más</span>
               <% end %>
            </a>
          </div>
       </div>
       <div class="box">
         <div class="title">
            <h3 class="title_box"><strong>Programs</strong></h3>
         </div>
         <div class="description">
            <h1 class="description_box"><%= Programa.count%></h1>
         </div>
         <div class="foot">
            <h3 class="foot_box">Universidad Autonoma del caribe</h3>
         </div>
         <div class="ver_mas">
           <a class="<%= is_active_controller('users') %>">
              <%= link_to programas_path do %>
                <i class="ver_mas_box"></i> <span data-i18n="nav.layouts">Ver más</span>
              <% end %>
           </a>
         </div>
       </div>
    </div>
  </div>
</div>
