<% breadcrumb :cursos_usuarios_linea, @linea %>
<div class="ibox-content m-b-sm border-bottom  buscador-complemnto"">
  <div class="row">
    <div class="col-md-10">
        <h2 class="titulo-Narajanja">LISTA DE <strong>CURSOS POR OTRO LADO</strong> DE LA LINEA: <%= @linea.nombre %></h2>
    </div>
    <div class="col-md-2">
        <div class="input-group-btn">
          <div class="botonContainer">
              <%= link_to "", new_cursos_usuario_path, remote:true , class: "fa fa-plus  btn btn-primary"%>
          </div>
        </div>
    </div>
  </div>
  <div class="search-form">
    <%= form_tag(linea_cursos_usuarios_path, method: :get) do %>
      <div class="input-group">
        <input type="text" name="q" class="form-control input-lg" placeholder="Buscar..." type="text" value="<%= params[:q] %>"></input>
        <div class="input-group-btn">
          <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
        </div>
      </div>
    <%end%>
  </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <tr>
          <th class="active">Nombre</th>
          <th class="active">Linea</th>
        </tr>
        <tr>
          <% @cursos_usuarios.each do |curso_usuario| %>
              <tr>
                <td><%= curso_usuario.nombre %></td>
                <td><%= curso_usuario.linea.nombre%></td>
              </tr>
           <%end%>
      </table>
        <% unless @cursos_usuarios.present? %>
           <tr>
              <h2 class="text-center">No Hay Informacion Solicitada</h2
           </tr>
        <%end%>
  </div>
</div><hr>
<%= paginate @cursos_usuarios, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination float-right" %>
<div id="new-curso"></div>
<div id="edit-curso"></div>
