<div class="container_session">
  <div class="session">
    <h1 class="titulo-Narajanja text-center"><%= "#{titulo} facultad" %> </h1>
    <%= simple_form_for @facultad, html: { class: 'signupForm' } do |f| %>
      <%= f.label :Nombre ,  class: "form-control"%>
      <%= f.input :nombre, label: false, placeholder:"Nombre De la Facultad", name: "nombre", class: "form-control"%>
      <%= f.button :submit, "Enviar", class: "btn-primary btn-block" %>
    <% end %>
  </div>
</div>
