<h1 class="text-center titulo-Narajanja">Universidad <strong>Autonoma del caribe</strong></h1>
<div class="container_session">
  <div class="session">
    <center><h2 class="titulo-Narajanja">Acceder</h2></center>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => '' }) do |f| %>
      <%= f.error_notification %>
      <p>Debe iniciar sesión o registrarse antes de continuar.<p>
      <%= f.label :Usuario, class: "form-control" %>
      <%= f.input :login, label: false, placeholder:"Usuario", required: true, autofocus: true %>
      <%= f.label :Contraseña, class: "form-control" %>
      <%= f.input :password, label: false ,placeholder:"Contraseña", required: true,  autocomplete: "current-password" %>
      <%= f.input :remember_me, label: "Recuérdame", as: :boolean %>
      <%= f.button :submit, "Iniciar Sesion",  class: "btn-primary btn-block Veamos" %>
      <a class="btn btn-sm btn-white btn-block Veamos" href="<%=new_user_registration_path%>">Crea una cuenta</a>
    <% end %>
  </div>
</div>
