<center><h1 class="mov-naranja">Inicia sesión en <strong>Seguimiento</strong></h1></center>
<div class="container_session">
    <div class="session">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= alert %>
        <%= f.input :email, autofocus: true, autocomplete: "email" %>
        <%= f.input :password, autocomplete: "current-password" %>
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recuérdame" %>
        <% end %>
        <%= f.button :submit, "Iniciar Sesion",  class: "btn-primary block full-width m-b" %>
        <a class="btn btn-sm btn-white btn-block" href="<%=new_user_registration_path%>">Crea una cuenta</a>
        <!-- btn-outline-info -->
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
</div>
