<tr>
  <td class="text-center"><%= link_to curso.nombre , curso_path(curso.id) %></td>
  <td class="text-center"><%= curso.created_at.strftime("%d-%m-%Y %H:%M")  %></td>
  <td class="text-center"><%= curso.updated_at.strftime("%d-%m-%Y %H:%M") %></td>
  <td class="text-center"><%= curso.estado ? "UAC" : "Externo"%> </td>
  <% if current_user.has_role? :Admin %>
    <td class="text-center">
      <%= link_to "", edit_linea_curso_path(@linea, curso), remote:true , class: "fa fa-pencil-square-o  btn btn-warning"%>&nbsp;
      <%= link_to '', { :action => :destroy, :id => curso.id }, :method => :delete, :data => { :confirm => 'Estás seguro? de Eliminar este Curso'} , class: " text-center fa fa-trash-o btn btn-danger"%>
    </td>
  <% end %>
</tr>
