<div class="container_session">
  <div class="session">
    <%= simple_form_for @curso, html: { class: 'form-horizontal' } do |f| %>
      <%= f.input :nombre , autofocus: true, placeholder:"Nombre Del Curso" , autocomplete: "nombre" %>
        <%= f.association :linea, label_method: :nombre, value_method: :id , prompt: 'Selecione Tipo De Linea' , input_html: {min:"1"}  %>
        <%= f.input :estado, as: :radio_buttons, collection: [['Realizado',true],['En Proceso', false]]%>
      <%= f.button :submit, "Registrar Curso",  class: "btn-primary block full-width m-b" %>
    <% end %>
  </div>
</div>
