 <% if user_signed_in? %>
  <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
              <li class="nav-header">
                  <div class="dropdown profile-element">
                      <span class="titulo-Narajanja"> AUTÓNOMA</span>
                  </div>
                  <div class="logo-element">
                      <%=link_to "AU+", root_path %>
                  </div>
              </li>
              <li class="<%= is_active_controller('home') %>">
                  <%= link_to root_path do %>
                  <i class="titulo-Narajanja fa fa-home"></i> <span class="nav-label" data-i18n="nav.layouts">Inicio</span>
                  <% end %>
              </li>
              <% if current_user.has_role? :Admin %>
                <li class="<%= 'active' if current_page?('/users') %>">
                    <%= link_to users_path do %>
                    <i class="titulo-Narajanja fa fa-group"></i>
                    <span class="nav-label">Usuarios</span>
                    <!-- <span class="label label-info float-right">NEW</span> -->
                    <span class="fa arrow"></span>
                    <% end %>
                    <ul class=" nav nav-second-level #{is_active_controller('user')">
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Decanos" , decanos_users_path  %>
                        </li>
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Directores" , directores_users_path  %>
                        </li>
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Docentes" , instructores_users_path   %>
                        </li>
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Vicerrectores" , vicerrectores_users_path  %>
                        </li>
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Usuarios" , users_path  %>
                        </li>
                    </ul>
                </li>
              <% elsif current_user.has_role? :Vicerrector %>
                <li class="<%= 'active' if current_page?('/users') %>">
                    <%= link_to users_path do %>
                    <i class="titulo-Narajanja fa fa-group"></i>
                    <span class="nav-label">Usuarios</span>
                    <!-- <span class="label label-info float-right">NEW</span> -->
                    <span class="fa arrow"></span>
                    <% end %>
                    <ul class=" nav nav-second-level #{is_active_controller('user')">
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Decanos" , decanos_users_path   %>
                        </li>
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Directores" , directores_users_path   %>
                        </li>
                        <li class="<%= 'active' if current_page?('/users') %>">
                          <%= link_to "Docentes" , instructores_users_path   %>
                        </li>
                    </ul>
                </li>
              <%end%>
              <% if current_user.has_role? :Decano %>
                    <li class="<%= 'active' if current_page?('/users') %>">
                        <%= link_to users_path do %>
                        <i class="titulo-Narajanja fa fa-group"></i>
                        <span class="nav-label">Usuarios</span>
                        <!-- <span class="label label-info float-right">NEW</span> -->
                        <span class="fa arrow"></span>
                        <% end %>
                        <ul class=" nav nav-second-level #{is_active_controller('user')">
                            <li class="<%= 'active' if current_page?('/users') %>">
                              <%= link_to "Directores" , directores_users_path   %>
                            </li>
                            <li class="<%= 'active' if current_page?('/users') %>">
                              <%= link_to "Docentes" , instructores_users_path   %>
                            </li>
                        </ul>
                    </li>
              <% elsif current_user.has_role? :Director %>
                  <li class="<%= 'active' if current_page?('/users') %>">
                      <%= link_to users_path do %>
                      <i class="titulo-Narajanja fa fa-group"></i>
                      <span class="nav-label">Usuarios</span>
                      <!-- <span class="label label-info float-right">NEW</span> -->
                      <span class="fa arrow"></span>
                      <% end %>
                      <ul class=" nav nav-second-level #{is_active_controller('user')">                          
                          <li class="<%= 'active' if current_page?('/users') %>">
                            <%= link_to "Docentes" , instructores_users_path   %>
                          </li>
                      </ul>
                  </li>
              <%end%>
                <li class="<%= 'active' if current_page?('/cursos') %>">
                    <%= link_to cursos_path do %>
                    <i class="titulo-Narajanja fa fa-graduation-cap"></i>
                    <span class="nav-label">Cursos</span>
                    <!-- <span class="label label-info float-right">NEW</span> -->
                    <span class="fa arrow"></span>
                    <% end %>
                    <ul class=" nav nav-second-level #{is_active_controller('curso')">
                      <% if current_user.has_role? :Admin %>
                          <li class="<%= 'active' if current_page?('/lineas') %>">
                            <%= link_to "Lineas" , lineas_path %>
                          </li>
                          <li class="<%= 'active' if current_page?('/cursos') %>">
                            <%= link_to "Lista De Cursos" , cursos_path %>
                          </li>
                       <%else%>
                          <li class="<%= 'active' if current_page?('/lineas') %>">
                            <%= link_to "Lineas" , lineas_path %>
                          </li>
                          <li class="<%= 'active' if current_page?('/cursos') %>">
                            <%= link_to "Cursos" , cursos_path %>
                          </li>
                          <li class="<%= 'active' if current_page?('/cursos') %>">
                            <%= link_to "Mis Cursos" , cursos_usuarios_path %>
                          </li>
                      <% end %>
                    </ul>
                </li>
                <li class="<%= 'active' if current_page?('/proyecciones') %>">
                    <%= link_to proyecciones_path do %>
                    <i class="titulo-Narajanja fa fa-dashboard"></i>
                    <span class="nav-label">Proyecciones</span>
                    <!-- <span class="label label-info float-right">NEW</span> -->
                    <span class="fa arrow"></span>
                    <% end %>
                    <ul class=" nav nav-second-level #{is_active_controller('linea')">
                      <li class="<%= 'active' if current_page?('/proyecciones') %>">
                        <%= link_to "Mis Proyecciones" , proyecciones_path %>
                      </li>
                    </ul>
                </li>
                <li class="<%= 'active' if current_page?('/comentarios') %>">
                    <%= link_to comentarios_path do %>
                    <i class="titulo-Narajanja 	fa fa-comment"></i>
                    <span class="nav-label">Comentarios</span>
                    <!-- <span class="label label-info float-right">NEW</span> -->
                    <span class="fa arrow"></span>
                    <% end %>
                    <ul class=" nav nav-second-level #{is_active_controller('facultad')">
                      <% if current_user.has_role? :Admin %>
                        <li class="<%= 'active' if current_page?('/comentarios') %>">
                          <%= link_to "Comentarios" , comentarios_path %>
                        </li>
                        <% else %>
                          <li class="<%= 'active' if current_page?('/comentarios') %>">
                            <%= link_to "Mis Comentarios" , comentarios_path %>
                          </li>
                        <% end %>
                    </ul>
                </li>
                <% if current_user.has_role? :Admin %>
                  <li class="<%= 'active' if current_page?('/facultades') %>">
                      <%= link_to facultades_path do %>
                      <i class="titulo-Narajanja fa fa-bank"></i>
                      <span class="nav-label">Facultades</span>
                      <!-- <span class="label label-info float-right">NEW</span> -->
                      <span class="fa arrow"></span>
                      <% end %>
                      <ul class=" nav nav-second-level #{is_active_controller('facultad')">
                        <% if current_user.has_role? :Admin %>
                          <li class="<%= 'active' if current_page?('/facultades') %>">
                            <%= link_to "Facultades" , facultades_path %>
                          </li>
                        <% else %>
                          <li class="<%= 'active' if current_page?('/facultades') %>">
                            <%= link_to "Mis Facultades" , facultades_path %>
                          </li>
                        <%end%>
                      </ul>
                  </li>
                <%end%>
                <% if current_user.has_role? :Admin %>
                  <li class="<%= 'active' if current_page?('/programas') %>">
                      <%= link_to facultades_path do %>
                      <i class="titulo-Narajanja fa fa-opencart"></i>
                      <span class="nav-label">Programas</span>
                      <!-- <span class="label label-info float-right">NEW</span> -->
                      <span class="fa arrow"></span>
                      <% end %>
                      <ul class=" nav nav-second-level #{is_active_controller('facultad')">
                        <% if current_user.has_role? :Admin %>
                          <li class="<%= 'active' if current_page?('/programas') %>">
                            <%= link_to "Programas" , programas_path %>
                          </li>
                        <% end %>
                      </ul>
                  </li>
                <% end %>
              <li class="<%= 'active' if current_page?('/users') %>">
                  <%= link_to edit_user_path do %>
                  <i class="titulo-Narajanja fa fa-cogs"></i>
                  <span class="nav-label">Configuracion</span>
                  <!-- <span class="label label-info float-right">NEW</span> -->
                  <span class="fa arrow"></span>
                  <% end %>
                  <ul class=" nav nav-second-level #{is_active_controller('user')">
                    <li class="<%= 'active' if current_page?('/users') %>">
                      <%= link_to "Mis Perfil" , edit_user_path %>
                    </li>
                    <li class="<%= 'active' if current_page?('/users') %>">
                      <%= link_to "Cambiar Contraseña" , cambiar_password_user_path %>
                    </li>
                    <% if current_user.has_role? :Admin %>
                      <li class="<%= 'active' if current_page?('/users') %>">
                        <%= link_to "Administracion" , rails_admin_path %>
                      </li>
                    <%end%>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
<% end %>
