<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <title>Autonoma</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
        <!-- Navigation -->
        <%= render 'layouts/navigation' %>
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %><br>
            <!-- Main view  -->
            <%= custom_bootstrap_flash %>
            <div class=" wrapper border-bottom white-bg page-heading "><br>
                <%= breadcrumbs display_single_fragment: true ,separator: ' / ', class:""%>
            </div>
            <%= yield %>
            <!-- Footer -->
            <%= render 'layouts/footer' %>
        </div>
    </div>
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")%>
    <%= yield :javascript %>
  </body>
</html>
