<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>
  <body class="gray-bg">
    <!-- <h1 class="mov-naranja">Bienvenido a Seguimiento</h1> -->
    <div class="container">        
        <!-- <div class="ibox-content"> -->
          <%=yield%>
        <!-- </div> -->
    </div>
    <!-- Include javascript per-controller - vendor plugins -->
      <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
  </body>
</html>
